{% load staticfiles %}
<!--<!DOCTYPE html>-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Python 开发工具</title>
    <link rel='dns-prefetch' href='//s.w.org' />
    <!--<link rel='stylesheet' id='wp-block-library-css'  href='https://c.runoob.com/wp-includes/css/dist/block-library/style.min.css?ver=5.0.2' type='text/css' media='all' />-->
    <!---->
    <meta name="keywords" content="Python 在线工具">

    <script src="{% static 'codemirror-5.31.0/lib/codemirror.js' %}"></script>
    <link   href="{% static 'codemirror-5.31.0/lib/codemirror.css' %}">
    <!--Java代码高亮必须引入-->
    <script src="{% static 'codemirror-5.31.0/clike.js' %}"></script>

    <!--引入css文件，用以支持主题-->
    <link rel="stylesheet" href="{% static 'codemirror-5.31.0/theme/dracula.css' %}"/>

    <!--支持代码折叠-->
    <link rel="stylesheet" href="{% static 'codemirror-5.31.0/addon/fold/foldgutter.css' %}"/>
    <script src="{% static 'codemirror-5.31.0/addon/fold/foldcode.js' %}"></script>
    <script src="{% static 'codemirror-5.31.0/addon/fold/foldgutter.js' %}"></script>
    <script src="{% static 'codemirror-5.31.0/addon/fold/brace-fold.js' %}"></script>
    <script src="{% static 'codemirror-5.31.0/addon/fold/comment-fold.js' %}"></script>
    <script src="{% static 'codemirror-5.31.0/mode/python/python.js' %}"></script>


    <!--<script src="http://cdn.staticfile.org/codemirror/5.25.0/codemirror.min.js"></script>-->
    <link rel="stylesheet" href="{% static 'python_view/codemirror.min.css' %}">
    <!--<script src="http://cdn.staticfile.org/codemirror/5.25.0/mode/python/python.js"></script>-->
    <link href="{% static 'python_view/normalize.min.css' %}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <!--<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">-->
    <!-- Bootstrap Core CSS -->
    <script src="{% static 'js/jquery-2.1.1.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="{% static 'python_view/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'python_view/style.css' %}">
</head>

<body>
<div class="container">
    <style>
        .CodeMirror {
            height: 374px;
        }
    </style>
    <br>
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div id="compiler" class="panel-heading">
                    <form class="form-inline" role="form">
                        <button type="button" class="btn btn-success" id="submitBTN" disabled="disabled"><i class="fa fa-send-o"></i> 点击运行</button>
                        <button type="button" class="btn btn-default" id="clearCode" ><i class="fa fa-eraser" aria-hidden="true"></i> 清空</button>
                    </form>
                </div>
                <div class="panel-body">
                    <form role="form" id="compiler-form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-7">
                    <textarea class="form-control"  id="code" name="code" rows="18"># -*- coding: UTF-8 -*-
print ('Hello World!')</textarea>
                                </div>
                                <div class="col-md-5">
                                    <textarea placeholder="运行结果……" class="form-control" id="compiler-textarea-result" rows="18">Hello World!</textarea>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            matchBrackets: true,
            mode: "text/x-python",
            indentUnit: 4,
            indentWithTabs: true,
            lineNumbers: true,	//显示行号
            theme: "dracula",	//设置主题
            lineWrapping: true,	//代码折叠
            //readOnly: true,        //只读
        });
        btn = $("#submitBTN");
        editor.on("change",function(editor,change){
            btn.prop('disabled', false);
        });
        btn.click(function() {
            btn.prop('disabled', true);
            loadingdata = '程序正在运行中……';
            $("#compiler-textarea-result").val(loadingdata);
            code = editor.getValue();
            $.post('/pythonRun/',{code:code},function(data){
                $("#compiler-textarea-result").val(data.output);
            });
            setTimeout(function(){
                btn.prop('disabled', false);
            }, 10*1000);
        });
        $("#clearCode").click(function() {
            var r=confirm("确认清空？");
            if (r==true){
                editor.setValue("");
                editor.clearHistory();
                $("#compiler-textarea-result").val("");
                btn.prop('disabled', true);
            }
        });

        $(function(){
            // bind change event to select
            $('#sel1').on('change', function () {
                var url = $(this).val(); // get selected value
                if (url) { // require a URL
                    window.location = url; // redirect
                }
                return false;
            });
        });
    </script>
</div>

</body>

</html>